body{
    margin:0;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Calibri;
}

.widget{
    width: 400px;
    height: 200px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 2px 6px 2px #808080;
    transition: box-shadow 0.4s;
}

.widget:hover{
    box-shadow: 2px 2px 6px 3px #808080;
}

.diapo{
    width: 400px;
    height: 200px;
    display: flex;
    position: relative;
}

.slide{
    padding: 12px;
    box-sizing: border-box;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 1s,background-color 0.4s;
    cursor: pointer;
    justify-content: space-between;
    padding-bottom: 25px;
}

.slide:hover{
    background-color: #F4F4F4;
}

.slide .content{
    display: flex;
    gap: 10px;
}

.slide .picture{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide .details{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.slide .picture img{
    width: 100%;
    object-fit: contain;
}

.slide .title{
    color: #1565c0;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.slide .description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide .type{
    font-size: 16px;
    color: #8c2aa0;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 4px;
    font-weight: bold;
}

.slide .type i{
    font-size: 12px;
    padding-top: 4px;
}

.dot-list{
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.dot{
    width:8px;
    height: 8px;
    background-color: #D0D0D0;
    border-radius: 50%;
    transition:  background-color 0.4s;
}

.dot.active{
    background-color: #606060;
}

.subscribe{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #1565c0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s,box-shadow 0.3s;
}
.join{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #1565c0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s,box-shadow 0.3s;
}

.subscribe:hover{
    background-color: #2c7edd;
    box-shadow: 1px 1px 3px 1px #808080;
}